<div class="calendar-container">
  <div class="calendar-header">
    <span class="calendar-header__label">
      <%= @calendar.label %>
    </span>
    <div class="calendar-header__actions">
      <a class="btn btn-info" href="/calendar<%= @calendar.previous_month%>"><</a>
      <a class="btn btn-info" href="/calendar">Today</a>
      <a class="btn btn-info" href="/calendar<%= @calendar.next_month%>">></a>
    </div>
  </div>

  <div class="calendar-body">
    <div class="calendar-body__week-headers">
      <div class="calendar-body__week-item">Sun</div>
      <div class="calendar-body__week-item">Mon</div>
      <div class="calendar-body__week-item">Tue</div>
      <div class="calendar-body__week-item">Wed</div>
      <div class="calendar-body__week-item">Thu</div>
      <div class="calendar-body__week-item">Fri</div>
      <div class="calendar-body__week-item">Sat</div>
    </div>

    <div class="calendar-body__rows">
      <% @calendar.rows.each do |row| %>
        <div class="calendar-body__row">
          <% row.each do |day| %>
            <% if day.present? %>
              <% rows_count = @calendar.rows.length %>
              <% reminders_limit = rows_count == 5 ? 3 : 2 %>

              <div data-date="<%= "#{@calendar.year}-#{@calendar.month}-#{day.to_s.rjust(2, "0")}" %>" class="calendar-body__row-item row-item-js">
                <span class="calendar-body__row-label <%= "calendar-body__row-label--highlight" if day == @calendar.current_day && @calendar.is_today %>">
                  <%= day %>
                </span>
                <div class="calendar-body__reminders <%= "calendar-body__reminders--smaller" if @calendar.rows.length == 6 %>">
                  <div class="calendar-body__close-expanded-reminder">X</div>
                  <% selected_reminders = @reminders.select { |reminder| reminder.date.day == day } %>
                  <% selected_reminders.each do |reminder| %>
                    <div
                      class="calendar-body__reminder"
                      data-id="<%= reminder.id %>"
                      data-title="<%= reminder.title %>"
                      data-date="<%= reminder.date %>"
                      data-time="<%= reminder.military_time %>"
                      data-color="<%= reminder.color %>"
                    > 
                      <div class="calendar-body__reminder-color" style="background-color: <%= reminder.color %>"></div>
                      <span class="calendar-body__reminder-time"><%= reminder.formated_time %></span>
                      <span class="calendar-body__reminder-title"><%= reminder.title %></span>
                    </div>
                  <% end %>
                </div>
                
                <div class="calendar-body__reminder-more <%= "calendar-body__reminder-more--visible" if selected_reminders.length > reminders_limit %>">
                  <span class="calendar-body__reminder-more-number"><%= selected_reminders.length - reminders_limit %></span> More
                </div>
              </div>
            <% else %>
              <div class="calendar-body__row-item calendar-body__row-item--inactive"></div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: 'reminder_modal' %>